.l-screen {
	//height: 540px;
	background-color: #fff;
	//border: 1px solid #fff;
	border-radius: 20px;
	box-shadow: 0 9px 30px -6px #8c92ac;
	position: relative;
	padding: 25px 135px;
	overflow: hidden;
	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&--left {
			left: 15px;
		}
		&--right {
			right: 15px;
		}
	}
	&__spinner {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.6);
		z-index: 99999;
		border: 0px solid rgba(0, 0, 0, 0.2);
		border-radius: 20px;
	}
}
