.l-fast-app {
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 9px 30px -6px #8c92ac;
	&__header {
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		background: #f3f3f4;
		padding: 25px 40px;
	}
	&__title {
		text-align: center;
		color: #0a5c89;
	}
	&__body {

	}
}
