.title-app {
		font-size: 28px;
		color: #0a5c89;
		font-weight: 400;
		line-height: 48px;
}

.title-fast-app {
	font-size: 28px;
	color: #0a5c89;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}
